{$SEAMETRY_API_ORIGIN:http://localhost} {
	encode zstd gzip

	header {
		-Server
		Referrer-Policy "no-referrer"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
	}

	handle /api/auth/* {
		reverse_proxy auth:3005
	}

	handle /api/account/* {
		reverse_proxy auth:3005
	}

	handle {
		reverse_proxy seametry:8080
	}

	log {
		output stdout
		format json
	}
}
