{$SEAMETRY_API_ORIGIN:http://localhost} {
	encode zstd gzip

	header {
		-Server
		Referrer-Policy "no-referrer"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
	}

	@auth path /api/auth /api/auth/*
	handle @auth {
		reverse_proxy auth:3005
	}

	@account path /api/account /api/account/*
	handle @account {
		reverse_proxy auth:3005
	}

	handle {
		reverse_proxy seametry:8080
	}

	log {
		output stdout
		format json
	}
}
